# Compiled class files
*.class

# Log files
*.log

# Temporary files
*.tmp

# IntelliJ IDEA project files
.idea/
*.iml

# Gradle files
.gradle/
build/

# Kotlin specific
*.kotlin_module
*.kotlin_metadata

# WASM specific
*.wasm
*.wat
*.wast

# Dependency directories
node_modules/
out/